// run_pipeline.sh supplies portable activation of the dedicated environment.
// Optional task_environment is only for additional reviewed cluster setup.
process {
    withName: CAAS_POOLED {
        executor = 'slurm'
        queue = params.partition
        clusterOptions = params.account ? "--account=${params.account}" : ''
        beforeScript = params.runtime_setup + 'export PYTHONDONTWRITEBYTECODE=1; export PYTHONHASHSEED=0; ' + params.task_environment
    }
}
executor { queueSize = 100; submitRateLimit = '10 sec' }
