manifest {
    name = 'primate-pss-continuous-depth-profiles-correfoc'
    author = 'PSS primate traits project'
    description = 'Continuous phylogenetic-depth profiles for calibrated PSS tails'
    nextflowVersion = '>=26.04.0, <27.0.0'
}

workDir = "${projectDir}/work"

params {
    slurm_partition = 'std-cpu'
    slurm_cluster_options = ''
    max_parallel_jobs = 200
    bootstrap_cpus = 1
    bootstrap_memory = '2 GB'
    bootstrap_time = '2h'
    aggregate_cpus = 1
    aggregate_memory = '8 GB'
    aggregate_time = '3h'
    conda_cache_dir = '.nextflow-conda'
    output_dir = 'results'
}

process {
    shell = ['/bin/bash', '-euo', 'pipefail']

    withLabel: depth_bootstrap {
        cpus = { params.bootstrap_cpus as int }
        memory = { params.bootstrap_memory }
        time = { params.bootstrap_time }
        errorStrategy = 'retry'
        maxRetries = 2
    }

    withLabel: depth_aggregate {
        cpus = { params.aggregate_cpus as int }
        memory = { params.aggregate_memory }
        time = { params.aggregate_time }
        errorStrategy = 'terminate'
    }
}

profiles {
    slurm {
        process.executor = 'slurm'
        process.maxForks = params.max_parallel_jobs as int
        process.conda = "${projectDir}/../environment.yml"
        process.queue = params.slurm_partition
        process.clusterOptions = params.slurm_cluster_options
        conda.enabled = true
        conda.cacheDir = "${projectDir}/${params.conda_cache_dir}"
    }

    local {
        process.executor = 'local'
        process.maxForks = 2
        conda.enabled = false
    }
}

timeline {
    enabled = true
    file = "${projectDir}/${params.output_dir}/execution_timeline.html"
    overwrite = true
}
report {
    enabled = true
    file = "${projectDir}/${params.output_dir}/execution_report.html"
    overwrite = true
}
trace {
    enabled = true
    file = "${projectDir}/${params.output_dir}/execution_trace.tsv"
    overwrite = true
}
