params {
    caastools      = "${projectDir}/caastools/ct"
    alignments     = "${projectDir}/fast.run/alignments/*"
    // May be replaced with an absolute path outside this repository.
    config_dir     = "${projectDir}/fast.run/configs"
    config_pattern = "*.cfg"
    outdir         = "${projectDir}/fast.run/results"
    fmt            = "phylip-relaxed"

    rerconverge_script         = "${projectDir}/rerconverge/run_rerconverge.R"
    rerconverge_trees          = "${projectDir}/rerconverge/inputs/trees/rerconverge_gene_trees.tsv"
    rerconverge_master         = "${projectDir}/rerconverge/inputs/science.abn7829_data_s4.nex.tree"
    rerconverge_outdir         = "${projectDir}/fast.run/rerconverge_results"
    rerconverge_max_trees      = 3
    rerconverge_min_trees      = 1
    rerconverge_min_valid      = 1
    rerconverge_min_species    = 5
    rerconverge_min_foreground = 2
}
