/*
 * SLURM execution profile for PhyloQ.
 *
 * Optional environment variables:
 *   PHYLOQ_SLURM_PARTITION
 *   PHYLOQ_SLURM_ACCOUNT
 *   PHYLOQ_SLURM_QOS
 */

def phyloqSlurmPartition = System.getenv('PHYLOQ_SLURM_PARTITION')
def phyloqSlurmOptions = [
    System.getenv('PHYLOQ_SLURM_ACCOUNT') ? "--account=${System.getenv('PHYLOQ_SLURM_ACCOUNT')}" : null,
    System.getenv('PHYLOQ_SLURM_QOS') ? "--qos=${System.getenv('PHYLOQ_SLURM_QOS')}" : null
].findAll { it }.join(' ')

process {
    executor = 'slurm'
    queue = phyloqSlurmPartition ?: null
    clusterOptions = phyloqSlurmOptions

    withName: CAASTOOLS_DISCOVERY {
        cpus = 1
        memory = '2 GB'
        time = '2h'
    }

    withName: INSTALL_RERCONVERGE {
        cpus = 1
        memory = '8 GB'
        time = '4h'
    }

    withName: RERCONVERGE {
        cpus = 1
        memory = '16 GB'
        time = '12h'
    }
}

executor {
    queueSize = 100
    submitRateLimit = '10 sec'
}
