*.DS_Store
.DS_Store
bootstrap/.nextflow/
bootstrap/.nextflow.log*
bootstrap/.nextflow/history
bootstrap/work
bootstrap/pipeline.results
/.nextflow/
/.nextflow.log*
/work/
/Rplots.pdf
bootstrap/fast.run/results/
bootstrap/fast.run/rerconverge_results/
bootstrap/rerconverge/test.*/
bootstrap/.last_run_id
/results/
bootstrap/drawer/.nextflow/
bootstrap/drawer/work/
bootstrap/drawer/pipeline.results/
